<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="quiz-title"><%= @quiz.title %></h2>

      <div id="question">
        <%= render partial: 'quizzes/question', locals: {question: @taken_quiz.next_question, taken_quiz: @taken_quiz} %>
      </div>
    </div>
  </div>
</div>
