<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="quiz-title"><%= @quiz.title %></h2>
      <%= render partial: 'quizzes/question', locals: {question: @quiz.questions.first, taken_quiz: @taken_quiz} %>
    </div>
  </div>
</div>
